<template>
  <div>
    <img v-if="!tournament" src="../../assets/loading.gif" />
    <div v-if="tournament" class="tournament">
      <div>
        <div
          class="tournament__background-image"
          :style="{
            'background-image': 'url(' + tournament.BackgroundUrl + ')',
          }"
        >
          <button class="tournament__register">Register Now</button>
        </div>
      </div>
      <div class="tournament__info">
        <div class="tournament__details">
          <h2>{{ tournament.TournamentTitle }}</h2>
          <TournamentDetails
            v-if="tournament"
            :tournament="tournament"
          ></TournamentDetails>
        </div>
        <TournamentPrizes
          v-if="tournament.Payouts"
          :prizes="tournament.Payouts"
        ></TournamentPrizes>
      </div>
      <div class="tournament__rules-container">
        <h4>{{ tournament.RulesTitle }}</h4>
        <div
          v-if="tournament.RulesDescription"
          v-html="updateTextToAnchor(tournament.RulesDescription)"
          class="tournament__rules"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
import { getTournamentDetails } from "../../services/tournament.service";
import { updateTextToAnchor } from "../../utils/format-text";
import TournamentPrizes from "./tournament-prizes";
import TournamentDetails from "./tournament-details";

export default {
  name: "single-tournament",
  components: {
    TournamentPrizes,
    TournamentDetails,
  },
  data: function () {
    return {
      tournament: undefined,
    };
  },
  methods: {
    async getData() {
      this.tournament = await getTournamentDetails(this.$route.params.id);
    },
    updateTextToAnchor,
  },
  mounted() {
    this.getData();
  },
};
</script>

<style scoped lang="scss">
.tournament {
  padding: 0 20px;
}
.tournament__info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}
.tournament__background-image {
  position: relative;
  width: 100%;
  height: 390px;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}
.tournament__details {
  flex-grow: 1;
  margin-right: 20px;
}
.tournament__rules {
  white-space: pre-wrap;
}
.tournament__register {
  width: 114px;
  background: linear-gradient(90deg, #1571df, #05b6e8);
  height: 40px;
  color: white;
  border: 0;
  cursor: pointer;
}
</style>
