<template>
  <div class="tournament-details">
    <table>
      <tr>
        <td>Game</td>
        <td>
          <router-link
            :to="{
              name: 'GameDetails',
              params: {
                gameShortName: tournament.Game?.GameShortCode,
              },
            }"
            >{{ tournament.Game?.GameName }}</router-link
          >
        </td>
      </tr>
      <tr>
        <td>Registration Close</td>
        <td>{{ formatDate(tournament.RegistrationCutoffDateTime) }}</td>
      </tr>
      <tr>
        <td>Event Start</td>
        <td>{{ formatDate(tournament.TournamentStartDateTime) }}</td>
      </tr>
      <tr>
        <td>Event End</td>
        <td>{{ formatDate(tournament.TournamentEndDateTime) }}</td>
      </tr>
      <tr>
        <td>Entry Fee</td>
        <td>{{ tournament.TournamentFeeAmount || "Free Entry" }}</td>
      </tr>
      <tr>
        <td>Event Type</td>
        <td>{{ tournament.TournamentTypeName }}</td>
      </tr>
      <tr>
        <td>Prize Funding</td>
        <td>{{ tournament.TournamentPrizeFundingTypeName }}</td>
      </tr>
      <tr>
        <td>Min Participants</td>
        <td>{{ tournament.MinimumNumberOfEntities }}</td>
      </tr>
      <tr>
        <td>Max Participants</td>
        <td>{{ tournament.MaximumNumberOfEntities }}</td>
      </tr>
      <tr>
        <td>Current Participants</td>
        <td>{{ tournament.CurrentNumberOfParticipants }}</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>{{ tournament.TeamSize }}</td>
      </tr>
      <tr>
        <td>Advance Match Check-in</td>
        <td>
          {{ tournament.MinutesBeforeStartToAllowCheckin }} minutes before match
          start
        </td>
      </tr>
      <tr>
        <td>Automatic Forfeit</td>
        <td>
          {{ tournament.MinutesAfterStartToForfeit }} minutes after match start
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: "tournament-details",
  components: {},
  data: function () {
    return {};
  },
  methods: {
    formatDate(date) {
      return date && new Date(date).toUTCString();
    },
  },
  props: {
    tournament: Object,
  },
};
</script>

<style scoped lang="scss">
table {
  border-spacing: 0;
  width: 100%;
  tr td:first-child {
    background: var(--black);
    color: var(--white);
  }

  td {
    background: var(--light-gray);
    text-align: left;
    width: 50%;
    padding: 10px;
    position: relative;
    &:last-child {
      border-right: none;
    }
  }
}
</style>
