<template>
  <div class="tournament-prizes">
    <h3>Prizes</h3>
    <div
      :style="{ background: PRIZES_CONFIG[prize.PlaceNumber] ? PRIZES_CONFIG[prize.PlaceNumber].color : '#757f8a' }"
      v-for="prize in prizes"
      :key="prize.PlaceNumber"
      class="tournament-prize"
    >
      <div class="tournament-prize__place">
        <span class="tournament-prize__place-number">{{
          prize.PlaceNumber
        }}</span>
        <span>{{ PRIZES_CONFIG[prize.PlaceNumber] ? PRIZES_CONFIG[prize.PlaceNumber].suffix : 'th' }}</span>
      </div>
      <div>
        <div>{{ prize.ProductName || "To Be Announced" }}</div>
        <div>{{ prize.Description || "This prize has no description " }}</div>
      </div>
    </div>
  </div>
</template>


<script>
const PRIZES_CONFIG = {
  1: {
    suffix: "st",
    color: "#dba828",
  },
  2: {
    suffix: "nd",
    color: "#bec3c7",
  },
  3: {
    suffix: "rd",
    color: "#b36a36",
  },
};

export default {
  name: "tournament-prizes",
  components: {},
  data: function () {
    return {
      PRIZES_CONFIG,
    };
  },
  props: {
    prizes: Array,
  },
  methods: {},
  mounted() {},
};
</script>

<style scoped lang="scss">
.tournament-prizes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.tournament-prize {
  padding: 20px;
  display: flex;
  align-items: center;
}
.tournament-prize__place {
  color: white;
  margin-right: 10px;
}
.tournament-prize__place-number {
  font-size: 20px;
}
</style>
