<template>
  <div id="app">
    <div class="tabs">
      <div class="tabs__nav">
        <div
          class="tabs__nav_tab"
          v-for="(tab, index) in tabs"
          :key="index"
          :class="[tab.active ? 'tabs__nav_tab--active' : '']"
          @click="activate(index)"
        >
          {{ tab.name }}
        </div>
      </div>
      <div class="tabs__content">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "tabs-list",
  props: {
    msg: String,
  },
};
</script>

<style scoped lang="scss">
.tabs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: salmon;
  padding: 1rem;
  &__nav {
    display: flex;
    &_tab {
      padding: 1rem;
      margin: 0 0.5rem 0 0;
      background: #fff;
      border-radius: 0.5rem 0.5rem 0 0;
      box-shadow: inset 0 -1rem 0.75rem -1rem rgba(0, 0, 0, 0.25);
      cursor: pointer;
      opacity: 0.75;
      transition: 100ms linear all;
      &--active {
        opacity: 1;
        box-shadow: none;
      }
    }
  }
  &__content {
    background: #fff;
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
  }
}
</style>
