<template>
  <div class="tournaments-cards">
    <router-link
      :to="{
        name: 'TournamentDetails',
        params: {
          id: tournament.TournamentId,
          name: formatStringUrl(tournament.TournamentTitle),
        },
      }"
      v-for="tournament in tournaments"
      :key="tournament.TournamentId"
      class="tournaments-cards__tournament"
    >
      <div>
        <img
          class="tournaments-cards__tournament-img"
          :src="tournament.LogoListUrl"
          alt="Avatar"
          style="width: 100%"
        />
        <div class="tournaments-cards__tournament-start-date">
          {{ new Date(tournament.TournamentStartDateTime).toDateString() }}
        </div>
        <div class="tournaments-cards__tournament-title">
          <img
            :src="tournament.GameImageSmallUrl"
            class="tournament-card__card-game-img"
          />
          {{ tournament.TournamentTitle }}
        </div>
      </div>

      <div class="tournaments-cards__tournament-info">
        <div>
          {{
            tournament.MaximumNumberOfEntities -
            tournament.CurrentNumberOfParticipants
          }}
          Spots Available
        </div>
        <div>1v1-{{ tournament.TournamentTypeName }}</div>
      </div>
    </router-link>
  </div>
</template>

<script>
import { formatStringUrl } from "../utils/url-formatter";
export default {
  name: "tournaments-cards",
  props: {
    tournaments: Array,
  },
  methods: {
    formatStringUrl,
  },
  component: {},
};
</script>

<style scoped lang="scss">
.tournaments-cards {
  display: flex;
  flex-wrap: wrap;
}
.tournaments-cards__tournament {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  margin: 5px;
  background: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
.tournaments-cards__tournament:first-child {
  flex-grow: 1;
  max-width: 500px;
}
.tournaments-cards__tournament-start-date {
  line-height: 1;
  text-align: right;
  display: inline-block;
  padding: 2px;
  font-size: 11px;
  border: 1px solid white;
  float: right;
}

.tournaments-cards__tournament-title {
  display: flex;
  padding: 10px;
  align-items: center;
}
.tournament-card__card-game-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.container {
  padding: 2px 16px;
}
.tournaments-cards__tournament-info {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
</style>