<template>
  <div>
    <img v-if="!tournamentList" src="../../assets/loading.gif" />
    <TournamentsCards v-if="tournamentList" :tournaments="tournamentList"></TournamentsCards>
  </div>
</template>

<script>
import { getTournamentList } from "../../services/tournament.service";
import TournamentsCards from "../../components/tournaments-cards";

export default {
  name: "tournament-list",
  components: {
    TournamentsCards
  },
  data: function () {
    return {
      tournamentList: undefined,
    };
  },
  methods: {
    async getData() {
      this.tournamentList = await getTournamentList();
    },
  },
  mounted() {
    this.getData();
  },
};
</script>

<style>
</style>
