<template>
  <div>
    game list
  </div>
</template>

<script>
import { getGameList } from "../../services/game.service";

export default {
  name: "game-list",
  components: {
  },
  methods: {
    async getData() {
      getGameList();
    },
  },
  mounted() {
    this.getData();
  },
};
</script>

<style>

</style>
