<template>
  <router-view />
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
html {
  --maxWidth: 1000px;
  --black: #393939;
  --white: #fff;
  --light-gray: #f6f7f8;
  --dark-gray: #7a7a7a;
  --blue: #2a699a;
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.7;
}
a {
  text-decoration: none;
  color: var(--blue);
}
a:hover {
  text-decoration: underline;
}
button {
  font-family: "radnika_next", --apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
</style>
