<template>
  <div>
    <img v-if="!game" src="../../assets/loading.gif" />
    <div v-if="game">
      <LeadershipBoard
        v-if="game"
        :gameName="game.GameName"
        :leaderBoard="leaderBoard"
      ></LeadershipBoard>
      <div v-if="gameTournaments.length > 0">
        <h2>Current Tournaments</h2>
        <TournamentsCards :tournaments="gameTournaments"></TournamentsCards>
      </div>
    </div>
  </div>
</template>

<script>
import {
  getGameDetails,
  getGameTopLeaderShip,
} from "../../services/game.service";
import { getTournamentList } from "../../services/tournament.service";
import TournamentsCards from "../../components/tournaments-cards";
import LeadershipBoard from "./leadership-board";

export default {
  name: "game-details",
  components: {
    TournamentsCards,
    LeadershipBoard,
  },
  data: function () {
    return {
      game: undefined,
      leaderBoard: [],
      gameTournaments: [],
    };
  },
  methods: {
    getData() {
      getGameDetails(this.$route.params.gameShortName).then((game) => {
        this.game = game;
      });
      getGameTopLeaderShip(this.$route.params.gameShortName).then(
        (leaderBoard) => {
          this.leaderBoard = leaderBoard;
        }
      );
      getTournamentList(this.$route.params.gameShortName).then(
        (gameTournaments) => {
          this.gameTournaments = gameTournaments;
        }
      );
    },
  },
  mounted() {
    this.getData();
  },
};
</script>

<style>
</style>
