<template>
  <div class="leaderboard__leaders">
    <h2>Top {{ gameName }} Players</h2>

    <div
      class="leaderboard__leader"
      v-for="leader in leaderBoard"
      :key="leader.EntityId"
    >
      <img :src="leader.Profile.LogoUrl" />
      <div class="leaderboard__leader-data">
        <span>{{ leader.Profile.DisplayName }}</span>
        <span class="leaderboard__leader-country">{{
          leader.Profile.Country.AddressCountry
        }}</span>
      </div>
      <div class="leaderboard__leader-level">
        {{Math.round(leader.PublicSkillLevel)}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "leadership-board",
  props: {
    leaderBoard: Array,
    gameName: String
  },
};
</script>

<style scoped lang="scss">
.leaderboard__leader {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  img {
    width: 43px;
    border-radius: 8px;
  }
}
.leaderboard__leader-data {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}
.leaderboard__leader-country {
  font-size: 11px;
}
.leaderboard__leader-level{
  margin-left: 30px;
  font-weight: bold;
}
</style>
